<main>
    <section>
        <nav>
            <div class="search-filter">
                <div class="contain-seach">
                    <input type="text" placeholder="Código ou Descrição do item . . ." [(ngModel)]="termoPesquisa" (input)="buscarProdutosPorTermo()">
                    <button>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="lucide lucide-search-icon lucide-search">
                            <path d="m21 21-4.34-4.34" />
                            <circle cx="11" cy="11" r="8" />
                        </svg>
                    </button>
                </div>
                <button class="btn btn-new" [routerLink]="['/produto/', null]">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="lucide lucide-plus-icon lucide-plus">
                        <path d="M5 12h14" />
                        <path d="M12 5v14" />
                    </svg>
                    <p>Adicionar Produto</p>
                </button>
            </div>
            <p [innerText]="'Itens Cadastrados: ' + produtosEstoque.length"></p>
        </nav>
        <div class="contain-table">
            <table>
                <thead>
                    <tr>
                        <th>Código Produto</th>
                        <th>Código de Barras</th>
                        <th>Descrição</th>
                        <th>Preço Venda</th>
                        <th>Quantidade</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of produtosEstoque" [routerLink]="['/produto/', item.codigoProduto]">
                        <td>{{ item.codigoProduto }}</td>
                        <td>{{ item.codigoBarras }}</td>
                        <td>{{ item.nome }}</td>
                        <td>R$ {{ item.valorVenda| number:'1.2-2':'pt-BR' }}</td>
                        <td>{{ item.quantidadeEstoque }}</td>
                        <td>
                            <span *ngIf="item.quantidadeEstoque > item.quantidadeEstoqueMinimo" class="s1">Em estoque</span>
                            <span *ngIf="item.quantidadeEstoque <= item.quantidadeEstoqueMinimo && item.quantidadeEstoque > 0" class="s2">Estoque baixo</span>
                            <span *ngIf="item.quantidadeEstoque <= 0" class="s3">Sem estoque</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
</main>