<main>
    <section class="acordion-faturamento">
        <div class="item-acordion">
            <div class="mes">
                <div>
                    <p>Setembro/2025</p>
                    <p>Faturado: R$ <span>289,90</span></p>
                </div>
                <div class="div-svg">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="lucide lucide-chevron-down-icon lucide-chevron-down">
                        <path d="m6 9 6 6 6-6" />
                    </svg>
                </div>
            </div>
            <div class="dias aberto">
                <div class="dia aberto">
                    <p>18/09/2025</p>
                    <p>Faturado: R$ <span>289,90</span></p>
                </div>
                <div class="dia">
                    <p>17/09/2025</p>
                    <p>Faturado: R$ <span>289,90</span></p>
                </div>
                <div class="dia">
                    <p>16/09/2025</p>
                    <p>Faturado: R$ <span>289,90</span></p>
                </div>
                <div class="dia">
                    <p>15/09/2025</p>
                    <p>Faturado: R$ <span>289,90</span></p>
                </div>
            </div>
        </div>
    </section>
    <section class="vendas">
        <div class="venda aberto">
            <div>
                <p>ID Venda: <span>59</span></p>
                <p>18/09/2025 09:57</p>
            </div>
            <div>
                <p>Valor Total: </p>
                <p>R$ 39,50</p>
            </div>
        </div>
        <div class="venda">
            <div>
                <p>ID Venda: <span>59</span></p>
                <p>18/09/2025 09:57</p>
            </div>
            <div>
                <p>Valor Total: </p>
                <p>R$ 39,50</p>
            </div>
        </div>
        <div class="venda">
            <div>
                <p>ID Venda: <span>59</span></p>
                <p>18/09/2025 09:57</p>
            </div>
            <div>
                <p>Valor Total: </p>
                <p>R$ 39,50</p>
            </div>
        </div>
        <div class="venda">
            <div>
                <p>ID Venda: <span>59</span></p>
                <p>18/09/2025 09:57</p>
            </div>
            <div>
                <p>Valor Total: </p>
                <p>R$ 39,50</p>
            </div>
        </div>
    </section>
    <section class="detalhes">
        <div class="resumo">
            <div>
                <p>ID Venda: <span>59</span></p>
                <p>18/09/2025 09:57</p>
            </div>

            <div>
                <p>Subtotal Total: </p>
                <p>R$ 39,50</p>
            </div>
            <div>
                <p>Descontos: </p>
                <p>R$ 0,00</p>
            </div>
            <div>
                <p>Valor Total: </p>
                <p>R$ 39,50</p>
            </div>
            <br>
            <div>
                <p>Forma de Pagamento: </p>
                <p>Dinheiro</p>
            </div>
            <div>
                <p>Valor Pago: </p>
                <p>R$ <span>50,00</span></p>
            </div>
            <div>
                <p>Troco: </p>
                <p>R$ <span>10,50</span></p>
            </div>
            <div class="div-buttons">
                <button>Cancelar Venda</button>
                <button>Reimprimir Recibo</button>
            </div>
        </div>
        <div class="div-table">
            <table>
                <thead>
                    <tr>
                        <th>Código Produto</th>
                        <th>Descrição</th>
                        <th>Preço</th>
                        <th>Quantidade</th>
                        <th>Subtotal</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>123</td>
                        <td>Refrigerante Coca Cola 2,5L</td>
                        <td>R$ 15,00</td>
                        <td>1</td>
                        <td>R$ 15,00</td>
                    </tr>
                    <tr>
                        <td>123</td>
                        <td>Refrigerante Coca Cola 2,5L</td>
                        <td>R$ 15,00</td>
                        <td>1</td>
                        <td>R$ 15,00</td>
                    </tr>
                    <tr>
                        <td>123</td>
                        <td>Refrigerante Coca Cola 2,5L</td>
                        <td>R$ 15,00</td>
                        <td>1</td>
                        <td>R$ 15,00</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
</main>