<main>
    <section>
        <header>
            <nav>
                <button [routerLink]="['/produto/', produtoId]" *ngIf="produtoId != 'null'">Cadastrar Produtos</button>
                <button class="active">Estoque</button>
            </nav>
        </header>
        <div class="container" *ngIf="produtoId != 'null'">
            <div class="div-buttons">
                <button class="green" (click)="reporEstoque()">Repor Estoque</button>
                <button class="red" (click)="baixarEstoque()">Baixar Estoque</button>
            </div>
            <div>
                <table>
                    <thead>
                        <tr class="table-title">
                            <th>Id</th>
                            <th>Data Hora</th>
                            <th>Quantidade</th>
                            <th>Tipo</th>
                            <th>Observação</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let movimentacao of movimentacoesRealizadas">
                            <td>{{ movimentacao.id }}</td>
                            <td>{{ movimentacao.dataHoraMovimentacao | date:'dd/MM/yyyy HH:mm:ss' }}</td>
                            <td>{{ movimentacao.quantidade}}</td>

                            <td *ngIf="movimentacao.tipo === 1" class="c1"><span>&uarr; Entrada Inicial</span></td>
                            <td *ngIf="movimentacao.tipo === 2" class="c2"><span>&darr; Venda</span></td>
                            <td *ngIf="movimentacao.tipo === 3" class="c2"><span>&darr; Baixa Manual</span></td>
                            <td *ngIf="movimentacao.tipo === 4" class="c1"><span>&uarr; Reposição Manual</span></td>

                            <td>{{ movimentacao.observacao }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="overlay" *ngIf="produtoId === 'null' || modalAberto === 1 || modalAberto === 2">
            <div class="modal">
                <form>

                    <h2 *ngIf="produtoId === 'null'">Adicionar Estoque</h2>
                    <p *ngIf="produtoId === 'null'">Adicione a primeira remessa do produto ao estoque.</p>

                    <h2 *ngIf="modalAberto === 1">Repor Estoque</h2>
                    <p *ngIf="modalAberto === 1">Adicione uma reposição do produto ao estoque.</p>

                    <div>
                        <label for="qtd">
                            <p>Quantidade</p>
                        </label>
                        <input id="qtd" type="number" [(ngModel)]="movimentacao.quantidade" name="quantidadeEstoqueMinimo">
                    </div>
                    
                    <div *ngIf="modalAberto != 2">
                        <label for="preco">
                            <p>Custo por unidade</p>
                        </label>
                        <input id="preco" type="number" [(ngModel)]="movimentacao.precoCusto" name="precoCusto">
                    </div>

                    <div *ngIf="modalAberto != 2">
                        <label for="obs">Observação</label>
                        <textarea id="obs" maxlength="200" [(ngModel)]="movimentacao.observacao" name="observacao"></textarea>
                    </div>
                    <div *ngIf="modalAberto === 2">
                        <label for="obs">Motivo</label>
                        <textarea id="obs" maxlength="200" [(ngModel)]="movimentacao.observacao" name="observacao"></textarea>
                    </div>

                    <div class="div-buttons" *ngIf="produtoId === 'null'">
                        <button type="button" [routerLink]="['/estoque']">Cancelar</button>
                        <button type="submit" (click)="adicionarMovimentacao()" [routerLink]="['/estoque']">Salvar</button>
                    </div>
                    <div class="div-buttons" *ngIf="modalAberto === 1 || modalAberto === 2">
                        <button type="button"  (click)="fecharModal()">Cancelar</button>
                        <button type="submit" (click)="adicionarMovimentacao()">Salvar</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</main>