<main>
    <section>
        <header>
            <nav>
                <button class="active">Cadastrar Produtos</button>
                <button [routerLink]="['/movimentacao/', produtoId]" *ngIf="produtoId != 'null'">Estoque</button>
            </nav>
        </header>
        <main class="container">
            <form #form="ngForm">
                <fieldset>
                    <legend>Produto</legend>
                    <div class="form-group-flex">
                        <div class="form-group">
                            <label for="cod-barras">Código de Barras:</label>
                            <input #inputFocado type="text" id="cod-barras" name="cod-barras" [(ngModel)]="produto.codigoBarras" maxlength="13">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="nome">Nome do Produto:</label>
                        <input type="text" id="nome" name="nome" [(ngModel)]="produto.nome" maxlength="120" required>
                    </div>
                    <div class="form-group">
                        <label for="descricao">Descrição do Produto:</label>
                        <textarea id="descricao" name="desc-produto" [(ngModel)]="produto.descricao" maxlength="250"></textarea>
                    </div>
                    <div class="form-group-flex">
                        <div class="form-group">
                            <label for="quantidade">Estoque Minimo:</label>
                            <input type="number" id="quantidade" name="quantidade" [(ngModel)]="produto.quantidadeEstoqueMinimo" min="0">
                        </div>
                    </div>
                    <div class="form-group-flex">
                        <div class="form-group">
                            <label for="quantidade">Preço Venda:</label>
                            <input type="number" id="quantidade" name="quantidade" [(ngModel)]="produto.valorVenda">
                        </div>
                    </div>
                </fieldset>
            </form>
            <div class="btns-group">
                <button type="submit" class="red" [routerLink]="['/estoque']">Cancelar</button>
                <button type="submit" class="green" (click)="chamaApi()">Salvar</button>
            </div>
        </main>
    </section>
</main>